<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484591966973-hifabjjfulsg0c710slm2f6sniva41cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484591966973-hifabjjfulsg0c710slm2f6sniva41cf</string>
	<key>API_KEY</key>
	<string>AIzaSyAdZ5YLL6jbPobit57j_NkXDg3HwwlQhjg</string>
	<key>GCM_SENDER_ID</key>
	<string>484591966973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nytimes</string>
	<key>PROJECT_ID</key>
	<string>nytimes-6dc3c</string>
	<key>STORAGE_BUCKET</key>
	<string>nytimes-6dc3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484591966973:ios:e884d85aea741e5f54bc94</string>
</dict>
</plist>